@model EPRubric.Models.Portfolio

<fieldset>
    <legend>Portfolio</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AUUserID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AUUserID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CommunicationSlo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CommunicationSlo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CriticalSlo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CriticalSlo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TechnicalSlo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TechnicalSlo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VisualSlo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VisualSlo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Comments)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comments)
    </div>
</fieldset>